@use "variables";

header {
  background-color: variables.$nav;

  img {
    height: 36px;
  }

  .nav-item a {
    color: variables.$offset;
    text-decoration: none;
  }

  a.active {
    border-top: 4px solid variables.$offset;
    font-weight: bold;
  }

  .navbar {
    max-width: 1200px;
    margin: auto;
  }
}

.content {
  max-width: 1200px;
  margin: auto;
}


