@use "variables";

header {
  position: fixed;
  width: 100%;
  background-color: variables.$nav;
  z-index: 100;

  img {
    height: 36px;
  }

  .nav-item a {
    color: variables.$offset;
    text-decoration: none;
  }

  a.active {
    border-top: 4px solid variables.$offset;
    font-weight: bold;
  }

  .navbar {
    max-width: 1200px;
    margin: auto;
  }
}

.content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

footer {
  background-color: variables.$nav;
}

