.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-content {
    display: flex;
    align-items: center;

    &-team-img {
      width: 4rem;
      height: 4rem;
      background-color: white;
      border-radius: 50%;

      img {
        width: 3rem;
        height: 3rem;
        margin: .5rem;
      }
    }

    &-detail {
      margin-left: .5rem;
    }
  }

  &-bio-stats {
    display: flex;
  }

  &-toggle-buttons {
    border-radius: 1rem;
    border: 4px solid white;
    background-color: white;

    button {
      border: none;
      border-radius: 1rem;
      background-color: white;
      transition: all .5s ease-in-out;
    }

    .active {
      background-color: blue;
      color: white;
    }
  }
}
