@use "../variables";

.stats-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  th {
    width: 3.5rem;

    &.lg-cell {
      width: auto;
      text-align: left;
    }

    &:first-child {
      border-top-left-radius: .5rem;
    }

    &:last-child {
      border-top-right-radius: .5rem;
    }
  }

  tbody {
    color: black;
    background-color: variables.$offset;

    tr {
      &:nth-child(even) {
        background-color: rgba(0,0,0,.05)
      }

      td {
        &.lg-cell {
          text-align: left;

          img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .5rem;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: .5rem;
          }

          &:last-child {
            border-bottom-right-radius: .5rem;
          }
        }
      }
    }
  }
}
